body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.qr-code {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

.info h1 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.info p {
  margin: 0 0 10px 0;
  font-size: 1em;
}
